// colors
// toolbar
$border-color: #212121 !default;
$toolbar-color: #212121 !default;
$toolbar-overlay-color: #eeeeee !default;
$toolbar-btn-color: #212121 !default;
$toolbar-color-lighten: #323232 !default;

// scrollbars
$scrollbar-color: #454545 !default;
$scrollbar-background-color: #212121 !default;
$scrollbar-highlight-color: #535353 !default;

// dropdown
$dropdown-color: #212121 !default;
$dropdown-overlay-color: $toolbar-overlay-color !default;

// modals
$modal-color: #212121 !default;
$modal-text-color: #eeeeee !default;

// default colors
$error-color: #c62828 !default;
$error-text-color: #eeeeee !default;
$success-color: #2e7d32 !default;
$success-text-color: #eeeeee !default;
$action-color: #3d5afe !default;
$action-text-color: #eeeeee !default;
$action-color2: #ffc107 !default;
$action-text-color-2: #212121 !default;
$disabled-color: #555555 !default;
$disabled-text-color: #bbbbbb !default;

// links
$link-color: $action-color2 !default;
$link-visited-color: #ff6d00 !default;
$link-hover-color: #ffab00 !default;
$link-active-color: $link-hover-color !default;

// code view
$codable-color: $toolbar-color !default;
$codable-overlay-color: $action-color2 !default;

// element sizes
$selection-corner-size: 15px;
